<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="merchantName">
    <th mat-header-cell *matHeaderCellDef> שם </th>
    <td mat-cell *matCellDef="let element"> {{element.merchantName}} </td>
  </ng-container>

  <ng-container matColumnDef="merchantAddress">
    <th mat-header-cell *matHeaderCellDef> כתובת </th>
    <td mat-cell *matCellDef="let element"> {{element.merchantAddress}} </td>
  </ng-container>

  <ng-container matColumnDef="numOfPayments">
    <th mat-header-cell *matHeaderCellDef> מס' תשלומים </th>
    <td mat-cell *matCellDef="let element"> {{element.numOfPayments}} </td>
  </ng-container>

  <ng-container matColumnDef="purchaseDate">
    <th mat-header-cell *matHeaderCellDef> זמן רכישה </th>
    <td mat-cell *matCellDef="let element"> {{element.purchaseDate | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> סכום </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol + element.amount}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
